
<a href="/">Inicio</a>
<a href="/blog/">Blog</a>
<a href="/about/">Sobre mi</a>


<h2>Blog</h2>
<h3>Las nuevas ideas de la tecnología</h3>
</section>
<style>
body {
    background-color: blanchedalmond;
    color: rgb(92, 41, 22);
}
</style>